/* ============================
   Estilo para barra de navegación
   ============================ */
.barra-arriba {
  background-color: #523c5c; /* morado */
  padding: 0.5rem 0;
}

.barra-arriba .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-opciones-barra {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-opciones-barra li {
  margin: 0 1rem;
}

.menu-opciones-barra a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.menu-opciones-barra a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d1d5ff;
  transition: width 0.3s;
}

.menu-opciones-barra a:hover::after {
  width: 100%;
}

/* ============================
   Botón JUGAR en la barra
   ============================ */
.barra-arriba .btn-jugar {
    background-color: #4e1a60; /* morado principal */
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
}